
* {
  margin: 0;
}

.navbar {
  display: flex;
  margin-bottom: 5em;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
}

.navlinks {
  display: flex;
}

.navlinks li {
  list-style-type: none;
  padding: 0 2rem;
}

.link {
  text-decoration: none;
  color: #121212;
  text-transform: uppercase;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  opacity: 0.5;
}

.navlogo {
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.user {
  margin-left: auto;
}
